/* header */
.main{
    display: flex;
    margin-left: 45px;
    padding: 18px;
    font-size: x-large;
}
.ace{
    color: rgb(56, 14, 244);
}
.connect{
    display: flex;
    margin-left: 60%;
}
.connectcss{
    border-style: solid;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(65 65 255);
    color: white;
}
.connectcss span{
    padding: 7px;
}
#vector{
    margin-left: 40px;
}
/* body part  */
.mainbody{
    display: ;
    margin-left: 80px;
}
.content strong{
    border-style: solid;
    border-radius: 17px;
    width: 219px;
    padding: 10px;
    background-color: #efefef;
}
.content h1{
    font-size: 45px;
}
.content span{
    border-style: solid;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(65 65 255);
    font-size: x-large;
    color:white;
}
.content p{
    color: blue;
    font-size: x-large;
    width: 197px
 
}
.name{
    display: flex;
    height: 30px;
    align-items: center;
}
.yellow{
    float: right;
    
}